
<div style="text-align: center;">
   <div class="container" style="width: 500px; margin: 0 auto;">
		<div class="main-body justify-content-center align-items-center">
			<div class="row ">
                <div class="cardImage p-4">
                  <div class=" image d-flex flex-column  align-items-center"> 
                    <button class="btn">
                         <img class="myimg" src="../../../assets/user photo.jpeg" height="100" width="100" />
                    </button> 
                  </div>
                </div>
                <hr>
 				<div class="text mt-3"> 
                    <h2 class="name mt-3"><strong>User Info:</strong> </h2>
                 </div> 
				<div class="col-lg-12 align-items-center justify-content-center">
					<div class="card">
						<div class="card-body m-2 p-3">
							<div class="row mb-3">
								<div class="col-sm-2">
                                    <i class="fa fa-user fa-fw fa-2x"></i>                                   
								</div>
								<div class="col-sm-10 text-secondary">
									<input type="text" class="form-control" value="John_Doe" readonly>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-2">
                                    <i class="fa fa-envelope fa-fw fa-2x"></i>
                            	</div>
								<div class="col-sm-10 text-secondary">
									<input type="text" class="form-control" value="john@example.com" readonly>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-2">
                                    <i class="fa fa-phone fa-fw fa-2x" ></i>
								</div>
								<div class="col-sm-10 text-secondary">
									<input type="text" class="form-control" value="(239) 816-9029" readonly>
								</div>
							</div>
							
							<div class="row mb-3">
								<div class="col-sm-2">
                                    <i class="fa fa-map fa-fw fa-2x"></i>
                                </div>
								<div class="col-sm-10 text-secondary">
									<input type="text" class="form-control" value="Bay Area, San Francisco, CA" readonly>
								</div>
							</div>
							
                            <div class="row">
                                <div class="col-sm-4"></div>
                               <div class="col-sm-8 text-secondary d-flex mt-2">
                                  <button class="btn px-4 grid btn1 btn-dark"><a class="text-decoration-none" style="color: white;" routerLink="/updateUser">Edit Profile </a></button> 
                              </div> 
                            </div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

