
<link href='//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>  
<div class="pt-4" style="text-align: center;height: 900px;">
  <div class="container top-section" style="width: 800px; margin: 0 auto;    background-image: linear-gradient(45deg, #7963b5, #8f7dc1, #d9d2ea 100%);
  ">
   
    <div class="pic">
		<!-- <i class="message fa fa-envelope"></i>
		<i class="notif fa fa-bell"></i> -->
      <!-- <img src="https://tinypic.host/images/2022/12/19/img_avatar.png"  alt="profile picture"> -->
	  <img class="myimg" src="../../../assets/user photo.jpeg"  alt="profile picture" height="100" width="100" />

    </div>
    <!-- <div class="name">
      Your Name
    </div>
    <div class="tag">@USER</div> -->
  </div>
  <!-- <div  style="text-align: center;" >
    <div class="container social-media" style="width: 800px; margin: 0 auto;">
		 <div class="main-body justify-content-center align-items-center">
			<a href="#"><i class="fa fa-facebook bg-black"></i></a>
			<a href="#"><i class="fa fa-twitter bg-black"></i></a>
			<a href="#"><i class="fa fa-instagram bg-black"></i></a>
			<a href="#"><i class="fa fa-codepen bg-black"></i></a>	
		</div>
      
    </div>
  </div> -->
  <div style="text-align: center;">
	<div class="container" style="width: 800px; margin: 0 auto;">
		 <div class="main-body justify-content-center align-items-center">
			 <div class="row ">
				 <!-- <div class="cardImage p-4">
				   <div class=" image d-flex flex-column  align-items-center"> 
					 <button class="btn">
						  <img class="myimg" src="../../../assets/user photo.jpeg" height="100" width="100" />
					 </button> 
				   </div>
				 </div>
				 <hr> -->
				  <!-- <div class="text pt-1"> 
					 <h2 class="name mt-3"><strong>User Info:</strong> </h2>
				  </div>  -->
				 <div class="pb-5 col-lg-12 align-items-center justify-content-center">
					 <div class="card">
						 <div class="card-body m-2 p-3">
							 <div class="row mb-3">
								 <div class="col-sm-2">
									 <i class="fa fa-user fa-fw fa-2x"></i>                                   
								 </div>
								 <div class="col-sm-10 text-secondary">
									 <span class="pt-2 form-control">{{userFirstName}}{{userLastName}}</span>
								 </div>
								
							 </div>
							 <div class="row mb-3">
								<div class="col-sm-2">
									<i class="fa fa-user fa-fw fa-2x"></i>                                   
								</div>
								<div class="col-sm-10 text-secondary">
									<span class="pt-2 form-control">{{gender}}</span>
								</div>
							   
							</div>
							 <div class="row mb-3">
								 <div class="col-sm-2">
									 <i class="fa fa-envelope fa-fw fa-2x"></i>
								 </div>
								 <div class="col-sm-10 text-secondary">
									 <span class="pt-2 form-control">{{email}}</span>
								 </div>
							 </div>
							 <div class="row mb-3">
								 <div class="col-sm-2">
									 <i class="fa fa-phone fa-fw fa-2x" ></i>
								 </div>
								 <div class="col-sm-10 text-secondary">
									 <span class="pt-2 form-control">{{phoneNumber}}</span>
								 </div>
							 </div>
							 
							 <div class="row mb-3">
								 <div class="col-sm-2">
									 <i class="fa fa-map fa-fw fa-2x"></i>
								 </div>
								 <div class="col-sm-10 text-secondary">
									 <span class="pt-2 form-control">{{Address}}</span>
								 </div>
							 </div>
							 
							 <div class="row">
								 <div class="col-sm-5"></div>
								<div class="col-sm-7 text-secondary d-flex mt-2">
								   <button class="btn px-4 grid btn1 btn-dark"><a class="text-decoration-none" style="color: white;" routerLink="/updateUser">Edit Profile </a></button> 
							   </div> 
							 </div>
						 </div>
					 </div>
					 
				 </div>
			 </div>
		 </div>
	 </div>
 </div>
</div>



