.dish {
  box-shadow: 10px 10px 10px rgb(212, 185, 185);
  margin: auto;
  margin-top: 10px;
  width: 90%;
  max-width: 800px;
  margin-bottom: 20px;
}

.dish img {
  margin-left: 3px;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

.btn-group {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.btn-group button {
  width: 80px;
  height: 40px;
  color: #ffffff;
  background-color: rgb(135, 81, 186);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}