.box{
    padding-top: 10px;
    /* border: 3px solid rgb(28, 18, 18); */
    box-shadow: 10px 10px 10px rgb(212, 185, 185);
    width: 600px;
    height: 600px;
    margin: auto;
 
   
    }
    button{
        width: 160px;
        height: 40px;
    
        background-color: black;
        margin-bottom: 20px;
    }
    input{
        width: 60%;
        height:45px;
        padding: 12px 20px;
        margin: 4px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid rgb(3, 3, 3);
        background-color:rgb(213, 249, 255);
        border-radius: 4px;
      }
      textarea{
        width: 60%;
        height:80px;
        padding: 12px 20px;
        margin: 4px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid rgb(3, 3, 3);
        background-color:rgb(213, 249, 255);
        border-radius: 4px;
      }