.main-login{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.login{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 50px;
}
.login h2{
  font-size: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  align-items: center;
  width: 400px;
  height: 60px;
  margin-left: 100px;
  padding-top: 10px;

}
.container-form{
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  gap: 60px;

}
.login-photo{
  width: 50%;
  display: flex;
  justify-content: right;

}
.img-log{
  width: 100%;
  border-radius: 15px;
  height: 700px;
}

.form-fg {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.form-fg input {
  float: left;
  width: 50%;
  padding: 11px 45px 11px 20px;
  border-radius: 10px;
  border-top: #535353;
  border-width: 1px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}
/* .form-fg i {
  background-color: aqua;
  /* position: absolute; 
  margin-right: 60px;
  top: 10px;
  right: 10px;
  font-size: 19px;
  color: #616161
} */

.container-form label {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px
}

.container-form .forgot {
  margin: 0;
  line-height: 45px;
  color: #535353;
  font-size: 15px;
  float: right
}
.btn-login{
  text-align: center;
  margin-top: 60px;
  padding-top: 10px;
  text-decoration: none;
  background-color: #6750A4;
  color: #fff;
  border: 1px solid #6750A4;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.btn-login:hover{
  background-color: #7f6ab8;  
}