 <div class="card">
        <img src="../../../assets/dishes/pasta.jpg" alt="Image">
        <div class="card-content">
            <h2>{{title}}</h2>
            <p>{{content}}</p>
            <div class="rating">
              <div [innerHTML] ="getRatingStars(2)"></div>
              </div>
              <button (click)="handleDetailsClick()">Details</button>
            <button (click)="addToCart()" *ngIf="!isAdded; else addToCartBlock ">Order Now</button>
            <ng-template #addToCartBlock>
              <button style="opacity: 0.7;" >Added!</button>
            </ng-template>
        </div>
 </div>
    


 
