<div class="container">

    <h1 class="my-4">{{title}}</h1>
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid" src="../../../assets/home/home-banner.jpg" style="width: 750px;height: 500px;" alt="">
      </div>
  
      <div class="col-md-4">
        <strong><h2 class="my-3">Dish Description</h2></strong>
        <p>{{content}}</p>
        <strong><h2 class="my-3">Dish Ingredients</h2></strong>
        <ul>
          <li>Vegetables</li>
          <li>Shellfish</li>
          <li>Fishes</li>
        </ul>
        <br><br>
        <div class="row">
            <div class="col-sm-7"></div>
           <div class="col-sm-5 text-secondary d-flex mt-2">
              <button class="btn m-4 px-4 grid btn1 btn-dark">
                <a class="text-decoration-none" style="color: white;" routerLink="/">Add To Cart </a>
              </button> 
          </div> 
        </div>
      </div>
      
  
    </div>
   
    <strong><h2 class="my-3">Related Dishes</h2></strong>
  
    <div class="row">
        <div  class="col-md-3 col-sm-6 mb-4" *ngFor="let s of topDishes">
            <app-card></app-card>
         <!-- </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
      </div> -->
  
    </div>
   
  
  </div>
 