/* all */
.box {
 box-shadow: 10px 10px 10px rgb(212, 185, 185);
  width: 800px;
  margin: auto;
}


/* img and rating and button */

.grid {
  background-color: rgb(233, 163, 239);
}

.grid img {
  margin-top: 20px;
  margin-left: 290px;
  width: 200px;
  height: 200px;

  border-radius: 120px;
  padding: 7px;
  background-color: rgb(255, 255, 255);
}

.grid button {
  position: relative;
  padding: 15px 45px;
  background: rgb(214, 188, 238);
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 1px solid rgb(214, 188, 238);
  border-radius: 8px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
  margin-top: 20px;
  margin-left: 300px;
  margin-bottom: 10px;
}

/* button:hover {
    border: 1px solid #f3b182;
    background: linear-gradient(85deg, #FEC195, #fcc196, #fabd92, #fac097, #fac39c);
    animation: wind 2s ease-in-out infinite;
  } */

@keyframes wind {
  0% {
    background-position: 0% 50%;
  }

  0% {
    background-position: 50% 100%;
  }

  0% {
    background-position: 0% 50%;
  }
}

.icon-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  transform-origin: 0 0;
  transform: rotate(10deg);
  transition: all .5s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
}

button:hover .icon-1 {
  animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
  transform: rotate(10deg);
}

@keyframes slay-1 {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.icon-2 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 12px;
  transform-origin: 50% 0;
  transform: rotate(10deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

button:hover .icon-2 {
  animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0);
  }
}

.icon-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  transform-origin: 50% 0;
  transform: rotate(-5deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

button:hover .icon-3 {
  animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-3 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}



/* -------------------------------details-------------------------- */
/* details about me */
.about {
 
  font-size: medium;
  padding: 10px;
  margin-right: 6px;
}

hr {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;

  border: 2px solid rgb(82, 13, 85);
}

.details{
    border: 1px solid black;
}
p {
  margin-left: 90px;
  padding: 6px;

  font-size: 20px;
}
/* ------------------dishes----------------------------*/
.dish {
  box-shadow: 10px 10px 10px rgb(212, 185, 185);
  margin: auto;
  margin-top: 10px;
  border: 2px solid black;
  width: 800px;
  margin-bottom: 20px;
}

.dish img {
  margin-left: 3px;
  margin-top: 20px;
  padding: 10px;
}
@media  (max-width: 768px) {
  .dish {
    box-shadow: 10px 10px 10px rgb(212, 185, 185);
    margin: auto;
    margin-top: 10px;
    border: 2px solid black;
    width: 600px;
    margin-bottom: 20px;
  }
  .dish img {
   margin: auto;
    padding: 10px;
    width: 200px;
    height: 200px;
  }
}

.btn-group button {
  margin: 40px;
  width: 80px;
  text-align: center;
  height: 40px;
  color: #ffffff;
  background-color: rgb(135, 81, 186);
  border-radius: 10px;

}