<div class="box">
    <div class="grid">
        <img src="../../../assets/WhatsApp Image 2023-05-11 at 19.09.42.jpg" class="h-25 ">

        <app-rating-star [rating]="2"></app-rating-star>


        <button type="button" class="btn btn-dark">
            <a class="text-decoration-none" style="color: white;">Edit Profile </a>
        </button>
    </div>
    
    <div class="details">
        <h3 class="fst-italic text-center fs-4">About me </h3>
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
        </div>
        <hr>

        <h4> UserName:</h4>
        <p>{{userName}}</p>

        <hr>
        <h4> EMail:</h4>
        <p> {{email}}</p>
        <hr>
        <h4>Phone Numnber: </h4>
        <p>{{phoneNumber}}</p>
        <hr>
        <h4> Address : </h4>
        <p>{{Address}}</p>
    </div>
</div>