.box {
    padding-top: 10px;
   
    /* border: 3px solid rgb(28, 18, 18); */
    box-shadow: 10px 10px 10px rgb(212, 185, 185);
    width: 600px;
    height: 650px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;

    gap: 20px;
}

hr {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

/* .details{
    border: 1px solid black;
} */
.grid img {

    width: 95%;
margin-bottom: 5px;
    padding: 5px;
}

.grid button {
    width: 160px;
    height: 40px;

    background-color: black;
    margin-top: 10px;
    margin-left: 15px;
}



p {
    margin-left: 90px;
    padding: 5px;

    font-size: 15px;
}