<div>
 <!-- BANNER -->
    <section class="ban_sec">
		<div class="container-fluid">
			<div class="ban_img">
	<img src="../../../assets/home/home-banner.jpg" alt="banner" border="0">
				 <div class="ban_text">
					<strong>
						<span>Order your Favorite</span><br> Homemade Meal
					</strong>
					<p>You can prioritize a child’s mental, emotional, <br>
						behavioral, and physical health </p>
					<a href="#">Browse Dishes</a>
				</div> 
			</div>
		</div>

</section>
<!-- END BANNER -->

<!-- WHY CHOOSE US -->
<section>
    <div class="wcu-section pb-5 pt-5" id="sectionWcu"> 
        <div class="container">
            <div class="row"> 
             
              <div class="col-12">
              <h1 class="wcu-heading">Why Choose Us?</h1>
                <p class="wcu-para">
     We use both original recipes and classic versions of famous food items     </p>
             </div>
                      
       <div class="col-12 col-md-4">   
       <div class="wcu-card p-3 mb-2">  
       <img src="https://logowik.com/content/uploads/images/food-service4537.jpg" class="wcu-card-image"/>
         <h1 class="wcu-card-title"> Food Service </h1>
         <p class="wcu-card-description"> Experience fine dining at the comfort at your home. All our orders are carefully packed and arranged to give you the nothing less than perfect </p>
         </div></div>
       
              
              
       <div class="col-12 col-md-4">
       <div class="wcu-card p-3 mb-2">  
       <img src="https://cdn.dribbble.com/users/1700393/screenshots/15866159/media/ac942cba190f0eabddfc3b725be4958a.png?compress=1&resize=400x300&vertical=top" class="wcu-card-image"/>
         <h1 class="wcu-card-title">Homemade Meals</h1>
         <p class="wcu-card-description">
           The Fresh Food group provides fresh-cut fruits and vegetables directly picked from our partner farms so that you always get them tree to plate
         </p>
         </div></div>
       
              
       <div class="col-12 col-md-4">
         <div class="wcu-card p-3 mb-2">  
       <img src= "https://media.istockphoto.com/photos/yellow-paper-label-with-shadow-on-white-picture-id160634124?k=20&m=160634124&s=612x612&w=0&h=y48BLCRedAa10ZkUqbo7guFn16XwD0qUWSxeqVi-Tpc="
             class="wcu-card-image"/>
         <h1 class="wcu-card-title"> Best Offers</h1>
         <p class="wuc-card-description"> 
         Food Coupons & Offers upto <span class="offers"> 50% off  </span> and executive promo coders on all online food orders  </p> 
         </div></div>
          </div>
        </div>
        </div>
</section>
<!-- END WHY CHOOOSE US -->

<!-- ABOUT US -->
<section id="about" class="about-us-section container">
    <h1>About Us</h1>
    
  <div class="row d-flex flex-md-row justify-content-between align-items-center about-us">
    <div class="col-12 col-md-6 abot-us-subsection">
        <p class="about-us-para">
            We are an online marketplace for local Homemade Foods, food safety certified cooks to connect with customers in their community and earn a meaningful income selling homemade dishes.
           <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eetur ratione molestiae accusantium at nam!
        </p>

    </div>
    <div class="abot-us-subsection col-12 col-md-6">
     <img class="about-us-img"height="350px" src="../../../assets/home/about-us-home.jpg">
    </div>

  </div>
</section>
<!-- END ABOUT US -->

<!-- PAYMENT AND DELEVRY OPTIONS -->
<section class="payment-methods-section pt-7 pb-3" id="sectionDeliveryPayments">
  <h1>Delivery and Payment</h1>
  <div class="container" style="padding-top: 3%;">
    <div class="row">
    
      
      
      <div class="col-12 col-md-6 text-left d-flex">
            <div class="payment-para-section">
            
              <p class="payment-para">
                Enjoy hassle-free payment with the plenitude of payment options available for you.
                Get live tracking and locate your food on a live map. It's quite a sight tp see your food arrive to your door. Plus, you get a 5% discount on every time you pay online.</p>
              <button class="payment-section-btn"> Order Now </button>
              <div>
              <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/visa-card-img.png" class="delivery-payment-images mr-3"/>
              <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/master-card-img.png" class="delivery-payment-images mr-3"/>
              <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/paypal-card-img.png" class="delivery-payment-images mr-3"/>
              <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/american-express-img.png" class="delivery-payment-images mr-3"/>
              </div>
              
              </div>
          </div>

            
       <div class="col-12 col-md-6 d-flex">
        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/delivery-payment-section-img.png" class="healthy-food-image  order-2"/>
      </div>
      
  </div>
 </div>
</section>   
    
    
<!-- END OF PAYMENT AND DELEVRY OPTIONS -->

</div>
